 /* Elements-applied-to-entire-page */

* {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* HTML Styling */
html {
    box-sizing: border-box;
    height: 100%;
}

/* Body */
body {
    background-color: rgba(222,227,231,255);
    font-family:'Courier New', Courier, monospace;
}

/* HTML Page structure */
html {
    scroll-behavior: smooth;
}

/* header */
header {
    padding: 10px;
    height: 50px;
    background-color: rgba(222,227,231,255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
}

header nav {
    margin: 10px;
}

header nav ul {
    display: flex;
    list-style: none;
}


h1 {
    color: black;
    font-weight: bold;
    font-size: 3em;
}

/* Navbar / Links  */
.link {
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    padding: 0.5em;
    position: relative;
    
} 
.link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: black;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.6s ease;
    
}
.link::before {
    bottom: 0;
    left: 0;
}

.link:hover::before {
    transform: scaleX(1);
}


/* Hero Image Styling */
.hero-image {
    background-image: url(https://images.unsplash.com/photo-1534166755186-fa2d8a5b2b03?q=80&w=1494&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    height: 40%;
    max-height: 40%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: 2px solid black;
    
}

.hero-text {
    text-align: center;
    position: relative;
    top: 70px;
    width: 100%;
    color: white;
    height: auto;
    margin-top: 200px;
    margin: 0px;
    filter: drop-shadow(3px 3px 3px black );
}

h2 {
    font-size: 3.5em;
}

a {
    margin-top: 20px;
    font-size: 1.5em;
}

/* Button styling on hero image */
.btn {
    display: inline-block;
    width: 200px;
    font-weight: bold;
    padding: 10px;
    color: #fff;
    border: 4px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
    filter: drop-shadow(2px 2px 2px black );
}

.btn:hover,.btn:active {
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

/* About Me */
.abouttext {
    line-height: 1.5em;
    width: 80%;
    font-size: 1.25em;
    margin: 10px auto;
    text-align: left;  
}
.aboutheader {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    margin: 0 auto;
}

.aboutbody {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 10%;
}

p {
    max-width: 990px;
    font-size: 1em;
    letter-spacing: .2px; 
}

.avatar {
    width: 20%;
    height: auto;
    border: 2px solid black;
    float: left;
}

/* Portfolio Section */
.portfolioheader {
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    margin: -475px auto;
}

.portfolio-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.horiseon {
    text-align: center;
    margin: -1025px auto;
    height: 30%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horiseon img {
    border: 2px solid black;
    margin-top: 1000px;
}

.horiseon img:hover {
    transform: scale(1.1);
    transition: all 1s ease-in-out;
}


/* additional projects styling */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container img {
    display: flex;
    width: 450px;
    height: 300px;
    margin: 15px;
    margin-top: -625px;
    border: 2px solid black;
    object-fit: cover;
}

.container img:hover {
    transform: scale(1.1);
    transition: all 1s ease-in-out;
}

/* Footer */
footer {
    position: static;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 400px;
}





