 /* Elements-applied-to-entire-page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HTML Styling */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

/* Body */
body {
    background-color: rgba(222,227,231,255);
    font-family:'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    color: black;
    margin-top: 20px;
    font-size: 1.5em;
}

p {
    font-size: 1.5em;
    margin: 10px;

}

/* header */
header {
    padding: 20px;
    background-color: #599fb7;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

h1 {
    color: black;
    font-weight: bold;
    font-size: 3em;
}

header nav {
    float: right;
    font-size: 1.3em;
    padding: 0px;
}

header nav ul li {
    display: inline-block;
    list-style: none;;
}

/* Navbar / Links  */
.link {
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    margin: 20px;
    position: relative;
    
} 
.link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: black;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.6s ease;
    
}
.link::before {
    bottom: 0;
    left: 0;
}

.link:hover::before {
    transform: scaleX(1);
}


/* Hero Image Styling */
.hero-image {
    background-image: url(https://images.unsplash.com/photo-1534166755186-fa2d8a5b2b03?q=80&w=1494&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    width: 100%;
    height: 30vh;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: 2px solid black;
    
}

.hero-text {
    text-align: center;
    position: relative;
    top: 70px;
    width: 100%;
    color: white;
    height: auto;
    margin-top: 200px;
    margin: 0px;
    filter: drop-shadow(3px 3px 3px black );
}

h2 {
    font-size: 3.5em;
}
 

/* About Me */
main {
    margin: 10vw;
}

.aboutme {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
    margin: 10px;
}

.avatar {
    height: 50vh;
    width: 35vh;
    border: 2px solid black;
    filter: drop-shadow(3px 3px 3px black );
}
.aboutme h3 {
    font-size: 2.5em;
    margin: 20px 0;
    text-align: center;
}

main h3 {
    font-size: 2.5em;
    margin: 20px 0;
    text-align: center;
}

.aboutme p {
    font-size: 1.3em;
    margin: 10px;
    padding: 20px;
    border-style: dashed;
    border-width: 3px;
    border-radius: 15px;
    text-align: center;
}

/* Portfolio Section */

.portfoliomain {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}

h4 {
    text-align: center;
    font-size: 1.25em;
}

figure {
    padding: 10px;
    border-style: dashed;
    border-width: 3px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.horiseon {
    width: 100vh;
    height: 40vh;
    display: block;
    margin: auto;
    border: 2px solid black;
    filter: drop-shadow(3px 3px 3px black );
}

figure h3 {
    text-align: center;
}

figure p {
    text-align: center;
}

section img {
    width: 50vh;
    height: 25vh;
    border: 2px solid black;
    filter: drop-shadow(3px 3px 3px black );
}

/* Footer-Contact Me */
footer {
    padding: 20px;
    background-color: #599fb7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    order: 1;
}

footer h5 {
    display: inline-block;
    font-size: 2.5em;
    text-align: center;
}

footer img {
    width: 50px;
    height: 50px;
    margin: 10px;
    order: 2;
}

/* Media Queries */


@media screen and (min-width: 768px) and (max-width: 1210px) {
    .aboutme p {
        font-size: 1.11em;
    }
    header nav {
        font-size: 1em;
        padding-left: 20px;
    }
    .hero-image {
        height: 50vh;
    }
    .hero-text {
        top: 20px;
    }
    .avatar {
        height: 50vh;
        width: 35vh;
    }
    .horiseon {
        width: 50vh;
        height: 20vh;
    }
    section img {
        width: 30vh;
        height: 15vh;
    }
    footer h5 {
        font-size: 1.5em;
    }
    footer img {
        width: 40px;
        height: 40px;
    }
    
}


@media screen and (max-width: 767px) {
    .aboutme p {
        font-size: 1em;
    }
    header nav {
        font-size: 1em;
        padding-left: 20px;
    }
    .hero-image {
        height: 50vh;
    }
    .hero-text {
        top: 20px;
    }
    .avatar {
        height: 50vh;
        width: 35vh;
    }
    .horiseon {
        width: 35vh;
        height: 15vh;
    }
    section img {
        width: 20vh;
        height: 10vh;
    }
    footer h5 {
        font-size: 1em;
    }
    footer img {
        width: 30px;
        height: 30px;
    }
    
}
